* {
  margin: 0;
  padding: 0;
}

.container {
  width: 93%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.back {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: url(./image/1674843619_top-fon-com-p-obuv-fon-dlya-prezentatsii-103.jpg)
    no-repeat center/cover;
}

.box {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.main_register {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: center;
}
.block {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
